{% extends "base.html" %}

{% block content %}

<div id="main" class="site-main">
    <div id="main-content" class="single-page-content">
      <div id="primary" class="content-area">

        <div class="page-title">
          <h1>Portfolio</h1>
          <div class="page-subtitle">
              <h4> My Works</h4>
          </div>
        </div>

        <div id="content" class="page-content site-content single-post" role="main">

          <div class="row">
            <div class=" col-xs-12 col-sm-12 ">
              <!-- Portfolio Content -->
              <div id="portfolio_content_q" class="portfolio-content">

                <ul class="portfolio-filters">
                  <li class="active">
                    <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
                  </li>
                  {% for category in category %}
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="category_detailed">{{ category.name }}</a>
                  </li>
                  {% endfor %}
                </ul>


                <!-- Portfolio Grid -->
                <div class="portfolio-grid three-columns shuffle">

                  {% for portfolio in portfolios %}

                  <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                    <div class="portfolio-item-img">
                      <img src="{{ portfolio.project_image.url }}" alt="{{ portfolio.project_name }}" title="" />
                      <a href="portfolio-project-2.html" class="ajax-page-load"></a>
                    </div>

                    <i class="far fa-file-alt"></i>
                    <h4 class="name">{{ portfolio.project_name }}</h4>
                    <span class="category">{{ portfolio.category}}</span>
                  </figure>

                  {% endfor %}

                </div>
                <!-- /Portfolio Content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
