{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <div class="page-title">
        <h1>Resume</h1>
        <div class="page-subtitle">
            <h4> 8 Years of Experience</h4>
        </div>
      </div>

      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Education</h2>
            </div>

            <div id="timeline_1" class="timeline clearfix">

              {% for education in education%}
              <div id="timeline_1" class="timeline clearfix">
                <div class="timeline-item clearfix">
                  <h5 class="item-period ">{{ education.university_year }}</h5>
                  <span class="item-company">{{  education.university_name}}</span>
                  <h4 class="item-title">{{ education.major }}</h4>
                  <p>{{ education.major_description }}</p>
                </div>
              </div>
                {% endfor %}
          </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Experience</h2>
            </div>

            <div id="timeline_2" class="timeline clearfix">

              {% for experience in experience %}
              <div id="timeline_2" class="timeline clearfix">
                <div class="timeline-item clearfix">
                  <h5 class="item-period current">{{ experience.start_date }} - {{ experience.end_date  }}</h5>
                  <span class="item-company">{{ experience.company_name }}</span>
                  <h4 class="item-title">{{ experience.job_title  }}</h4>
                  <p>{{ experience.job_description }}</p>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-20"></div>

            <div class="block-title">
              <h2>Certificates</h2>
            </div>
          </div>
        </div>

        <div class="row">

          {% for certificates in certificates %}
          <div class=" col-xs-12 col-sm-6 ">
            <a href="" class="lightbox">
              <div class="certificate-item clearfix">
                <div class="certi-logo">
                  <img src="{{ certificates.certi_logo.url }}" alt="logo">
                </div>

                <div class="certi-content">
                  <div class="certi-title">
                    <h4>{{ certificates.certi_title }}</h4>
                  </div>

                  <div class="certi-id">
                    <span>Membership ID: {{ certificates.certi_id }}</span>
                  </div>
                  <div class="certi-date">
                    <span>{{ certificates.certi_date }}</span>
                  </div>

                  <div class="certi-company">
                    <span></span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-40"></div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Soft Skills</h2>
            </div>

            {% for softSkill in softSkill %}
            <div id="skills_1" class="skills-info skills-first-style">
              <div class="clearfix">
                <h4>{{ softSkill.skill }}</h4>
                <div class="skill-value">{{ softSkill.skill_precntage }}%</div>
              </div>

              <div id="skill_1" data-value="{{ softSkill.skill_precntage }}" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
            </div>
              {% endfor %}

          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Coding Skills</h2>
            </div>


            {% for codingSkill in codingSkill %}
            <div id="skills_2" class="skills-info skills-first-style">
            <div class="clearfix">
              <h4>{{ codingSkill.skill }}</h4>
              <div class="skill-value">{{ codingSkill.skill_precntage }}%</div>
            </div>
            <div id="skill_5" data-value="{{ codingSkill.skill_precntage }}" class="skill-container">
              <div class="skill-percentage"></div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
</div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
